body {
  background: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: #0A4285;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo-header {
  height: 80px;
  width: auto;
}

.pago-content,
.recibo-container {
  text-align: center;
  margin-top: 70px;
}

.hidden {
  display: none !important;
}

.icon {
  width: 300px;
  height: 100px;
}

.card-text {
  color: #000000;
  font-size: 15px;
  margin-bottom: 17px;
  line-height: 1.6;
}

.codigo-text {
  color: #0A4285;
}

.card-title {
  color: #0A4285;
}

.confirm-btn {
  background: #FF9100;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 4px 10px rgba(255,145,0,0.3);
}

.confirm-btn:hover {
  background: #FF9100;
  transform: translateY(-2px);
}

.gracias {
  color: #000000;
  font-weight: 700;
  margin-top: 25px;
}
