version: '3.9'

services:
  backend:
    build: ./backend
    container_name: quickcourier_backend
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/quickcourierdb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: quickcourier_db
    restart: always
    environment:
      - POSTGRES_DB=quickcourierdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend/templates
      dockerfile: Dockerfile
    container_name: quickcourier_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend


volumes:
  postgres_data:
