<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Courier - Área Administrativa</title>
    <link rel="stylesheet" href="static/css/admin.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard-container">
        <nav class="sidebar">
            <div class="logo">
                <span class="logo-text">QUICK</span>
                <span class="logo-text courier">COURIER 🛒</span>
            </div>
            <div class="area-title">Área Administrativa</div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a href="admin.html" class="nav-link">Impuestos y Extras</a>
                </li>
            </ul>
            <button class="logout-btn" id="cerrarSesion">Cerrar Sesión</button>
        </nav>

        <main class="content">
            <div class="card-grid">
                
                <div class="card">
                    <h2 class="card-title admin-card-title">Impuestos</h2>
                    <p class="card-description">Agregue, elimine o modifique los impuestos.</p>
                    <button class="manage-btn orange">GESTIONAR</button>
                </div>

                <div class="card">
                    <h2 class="card-title admin-card-title">Extras</h2>
                    <p class="card-description">Agregue, elimine o modifique los extras.</p>
                    <br>
                    <a href="extras.html" class="manage-btn orange" >GESTIONAR</a>
                </div>

                </div>
        </main>
    </div>

    <script src="admin.js"></script>
</body>
</html>