<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>QuickCourier - Catálogo</title>
    <link rel="stylesheet" href="static/css/catalogo.css">
    <link rel="icon" href="static/img/logo.png">
</head>

<body>
   
    <header class="header">
        <div class="menu-btn">☰</div>
        <img src="static/img/logo-blanco.png" class="logo-header">
        <div class="search-container">
            
            </button>
        </div>
        <a href="resumen-carrito.html" class="kart-btn"> Carrito
            <img src="static/img/carrito.png" alt="Carrito" class="kart-icon">
            <span id="cart-count">0</span>
        </a>
    </header>


    <nav id="side-menu" class="side-menu">
        <a href="#" class="close-btn" id="close-menu">✕</a>
        <img src="static/img/logo-blanco.png" class="logo-header">
        <ul>
            <li><a href="#libros-container">Libros</a></li>
            <li><a href="#snacks-container">Snacks</a></li>
            <li><a href="#accesorios-container">Accesorios</a></li>
        </ul>
        <br>
        <button class="logout-btn" id="logoutBtn">Cerrar sesión</button>
    </nav>
    <div id="overlay" class="overlay"></div>

    <main class="contenedor">
        <h2 class="category-title">Libros</h2>
        <div class="product-grid" id="libros-container"></div>

        <h2 class="category-title">Snacks</h2>
        <div class="product-grid" id="snacks-container"></div>

        <h2 class="category-title">Accesorios</h2>
        <div class="product-grid" id="accesorios-container"></div>
    </main>

    <script src="static/js/catalogo.js"></script>
</body>
</html>
