<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Pago con Efecty | QuickCourier</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/pago-efecty.css">
</head>
<body>

  <header class="header">
      <img src="static/img/logo-blanco.png" class="logo-header" alt="QuickCourier Logo">
  </header>

  <div class="pago-content" id="pantallaInicial">
      <div class="icon-wrapper">
        <img src="static/img/Efecty_logo.png" alt="Logo Efecty" class="icon">
      </div>
      <p class="card-text">
              Acercate a un punto de Efecty más cercano. <br>
              Paga con el código      </p>

      <p class="codigo-text"><strong>Código de referencia:</strong> <span id="codigoRef">---</span></p>

      <button id="btnGenerar" class="confirm-btn">🧾 Generar Recibo</button>
  </div>

  <div class="recibo-container hidden" id="reciboContainer">
      <div class="icon-wrapper">
        <img src="static/img/Efecty_logo.png" alt="Recibo" class="icon">
      </div>
      <h2 class="card-title">Comprobante de Pago</h2>
      <p class="card-text"><strong>Referencia:</strong> <span id="refRecibo"></span></p>
      <p class="card-text"><strong>Estado:</strong> Pendiente de pago en punto Efecty</p>
      <button id="btnContinuar" class="confirm-btn">Continuar</button>
  </div>

  <script src="static/js/pago-efecty.js"></script>
</body>
</html>
